<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedReminderLembreteDeMedicamentosParaIdosos"
        tools:targetApi="31">
        <activity
            android:name=".Activities.AlarmTransparentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChoiceElderlyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MoreThanThreeTimesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EachXhoursActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SucessSaveReminder"
            android:exported="false" />
        <activity
            android:name=".Activities.ResetReminder"
            android:exported="false" />
        <activity
            android:name=".Activities.PhotoMedicinePackagingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PhotoMedicineReminder"
            android:exported="false" />
        <activity
            android:name=".Activities.SetScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FrequencyMedicineEveryOtherDaysActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FrequencyMedicineSpecificDaysActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FrequencyMedicineEveryDayActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FrequencyMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TypeMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SearchMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterElderlyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisterAcitivity"
            android:exported="false" />

        <service android:name=".Services.AlarmReminderService" />

        <receiver android:name=".Broadcast.BroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>